
@{
    ViewData["Title"] = "Manage Offices";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}



<style>
    .camera-icon {
        font-size: 24px;
        cursor: pointer;
        color: #007bff;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .preview-container {
        position: relative;
        height: 300px;
        /* background-color: #f8f9fa; */
        border: 2px dashed #d1d5db;
        border-color: #16314f;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
    }

    .upload-icon {
        width: 40px;
        height: 40px;
        background: url('https://img.icons8.com/ios/50/camera--v1.png') no-repeat center;
        background-size: contain;
        position: relative;
        margin-bottom: 8px;
    }

    .upload-plus {
        position: absolute;
        top: 118px;
        left: calc(50% - 12px);
        background-color: #003366;
        color: white;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        border: 2px solid #fff;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }

    .upload-label {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #111827;
        margin-top: 6px;
    }
    table thead th{
        word-wrap:none;
    }

    .form label {
        font-weight: bold;
    }
</style>
<div class="row px-2 px-md-5">
    <div class="header my-3">
        <h3 class="text-center">Manage Offices</h3>
    </div>
    <div class="body mb-3">


        <div class="form">
            <div class="row mt-4">


                <div class="col-md-4 mb-3">
                    <input hidden id="HidId" value="0" />
                    <label>Office Name</label>
                    <input type="text" id="txtofficename" name="office Name" class="form-control mandatory">
                </div>

                <div class="col-md-4 mb-3">
                 
                    <label>Office Address</label>
                    <input type="text" id="txtofficeAddress" name="office Address" class="form-control mandatory">
                </div>

                <div class="col-md-4 mb-3">
              
                    <label>Office State</label>
                    <input type="text" id="txtofficState" name="office State" class="form-control mandatory">
                </div>

                <div class="col-md-4 mb-3">
              
                    <label>Is Shared Space</label>
                    <select id="isSpace" name="Is Shared Space" class="form-control mandatory">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                  
                </div>
                <div class="col-md-4 mt-4">
                    <button onclick="AddDepartment()" id="btnname" class="btn btn-danger">Add New Office</button>
                </div>
            </div>
            @* <p>Below is the list of Department-</p>
            <hr /> *@
            <div class="table-responsive shadow-sm rounded mt-4">
                <table class="table table-striped align-middle text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>S. No.</th>
                            <th>Office Name</th>
                            <th>Office Address</th>
                            <th>Office State</th>
                            <th>Is Shared Space</th>
                            <th>Admin Logins</th>
                            <th>Reception Logins</th>
                            <th>Creation Date</th>
                            <th>Manage Admin</th>
                            <th>Manage Reception</th>
                            <th>Manage Company</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody id="content">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

 <script src="~/js/SuperAdmin/Manageffice.js" asp-append-version="true"></script> 




