
@{
    ViewData["Title"] = "Manage Setting";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContext
    ;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visitor Management Settings</title>
    <link rel="stylesheet" href="styles.css">

<style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
            background-color: #f9f9f9;
        }

      


     
     

       

    
</style>
</head>
<body>


    <h2 class="mt-4 text-center">Manage Setting</h2>

    <h3 class="mt-4" >Update Company Information</h3>



        <div class="mt-3">
            <label>Company Logo</label>
        <img src="data:image/png;base64,@httpContext.HttpContext.Session.GetString("Companylogo")" style="width:70px;" />
        </div>

        <div class="mt-3">
            <label>Company Logo</label>
        <input hidden id="fileInputHid" value="@httpContext.HttpContext.Session.GetString("Companylogo")"/>
        <input type="file" class="form-control " id="fileInput" name="Company Logo"  />
        </div>

        <div class="mt-3">
            <label>Company Name</label>
        <input type="text" class="form-control " id="CompanyName" name="Company Name" placeholder="Company Name" value="@httpContext.HttpContext.Session.GetString("CompanyName")" />
        </div>
        <div class="mt-3">
        <button class="btn btn-danger" id="uploadBtn">Update</button>
        </div>
      
        
     

     

        
      
        <div id="message" class="mt-3"></div>

        <h3>Change Password</h3>
        <div class="mt-3">
            <input type="password" class="form-control mandatory" id="CurrentPassword" name="Current Password" placeholder="Current Password" value="" />
        </div>
        <div class="mt-3">
            <input type="password" class="form-control mandatory" id="NewPassword" name="Password" placeholder="Password" value="" />
        </div>
        <div class="mt-3">
            <input type="password" class="form-control mandatory" id="ConfirmPassword" name="Confirm Password" placeholder="Confirm Password" value="" />
        </div>
        @* <p class="mt-2" style="color:#dc3545">Password must contain atleast 1 Capital Alphabet, 1 Number, 1 Special Char and Minimum 8 Char long.</p> *@
        <div class="mt-3">
            <button class="btn btn-danger" onclick="ChangePassword()">Change Password</button>
        </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    @section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="~/js/AdminArea/Setting.js" asp-append-version="true"></script>
    <script>
            $('#uploadBtn').click(function () {
                const file = $('#fileInput')[0].files[0];
                const companyName = $('#CompanyName').val();

                if (!companyName) {
                    alert("Company Name is required!");
                    return;
                }

                if (!file) {
                    sendData(companyName, null);
                    return;
                }

             
                if (!file.type.startsWith('image/')) {
                    alert("Only image files are allowed!");
                    return;
                }

                // Convert image to Base64
                const reader = new FileReader();
                reader.onload = function (e) {
                    const base64String = e.target.result;
                    sendData(companyName, base64String);
                };
                reader.readAsDataURL(file);
            });

            // Separate function for AJAX call
            function sendData(companyName, base64Data) {
                $.ajax({
                    url: '@Url.Action("UpdateCompany", "SuperAdmin")',
                    type: 'POST',
                    data: {
                        CompanyName: companyName,
                        Base64Data: base64Data
                    },
                    success: function (res) {
                        var data = JSON.parse(res);
                        console.log(data);

                        if (data[0].MessageId === 1) {
                            $('#fileInput').val('');
                            $('#CompanyName').val('');
                        }

                        alert(data[0].MessageString);
                    },
                    error: function (err) {
                        console.error(err);
                        alert("Upload failed!");
                    }
                });
            }


    </script>}
  
</body>
</html>


